-- The v7 client-and-job extract (docs/CLIENT_JOB_IMPORT_DESIGN.md Appendix B), generated 2026-09-28
-- from packages/isolated-backend/src/v7ExtractContract.json by scripts/v7-extract-sql.mjs.
-- READ-ONLY: every statement is a SELECT, and the session refuses writes. Files land on this machine, never the server.
-- Output: C:/v7-extract/<table>.csv. Then: node packages/isolated-backend/scripts/v7-extract-manifest.mjs C:/v7-extract
\set ON_ERROR_STOP on
\encoding UTF8
SET default_transaction_read_only = on;
BEGIN ISOLATION LEVEL REPEATABLE READ;
SET TRANSACTION READ ONLY;
SET LOCAL statement_timeout = '30min';
SET LOCAL idle_in_transaction_session_timeout = '5min';

\echo clients
\copy (WITH ac AS (SELECT db_id FROM clients WHERE COALESCE(status,'Active') IN ('Active','Portfolio Owner') AND NOT COALESCE(archived,false)), aj AS (SELECT j.job_id FROM jobs j JOIN ac ON ac.db_id = j.client_db_id) SELECT t.db_id, t.client_name, t.status, t.archived, t.industry, t.description_long, t.website, t.year_end_month, t.company_reg, t.headquarters, t.addr_line1, t.addr_line2, t.addr_city, t.addr_region, t.addr_postcode, t.addr_country, t.currency, t.crm_owner, t.client_manager, t.portfolio, t.referral, t.net_zero_year, t.interim_year, t.interim_s1_pct, t.interim_s2_pct, t.interim_s3_pct, t.target_s1_year, t.target_s1_pct, t.target_s2_year, t.target_s2_pct, t.target_s3_year, t.target_s3_pct, t.benchmark_year, t.benchmark_period_start, t.benchmark_period_end, t.benchmark_scope_1_tco2e, t.benchmark_scope_2_tco2e, t.benchmark_scope_3_tco2e, t.benchmark_total_tco2e, t.created_at FROM clients t WHERE t.db_id IN (SELECT db_id FROM ac) ORDER BY t.db_id) TO 'C:/v7-extract/clients.csv' WITH (FORMAT csv, HEADER true, ENCODING 'UTF8')
\echo client_sites
\copy (WITH ac AS (SELECT db_id FROM clients WHERE COALESCE(status,'Active') IN ('Active','Portfolio Owner') AND NOT COALESCE(archived,false)), aj AS (SELECT j.job_id FROM jobs j JOIN ac ON ac.db_id = j.client_db_id) SELECT t.site_id, t.client_db_id, t.site_name, t.location, t.is_registered_office, t.vacated_date, t.archived, t.latitude, t.longitude FROM client_sites t WHERE t.client_db_id IN (SELECT db_id FROM ac) ORDER BY t.site_id) TO 'C:/v7-extract/client_sites.csv' WITH (FORMAT csv, HEADER true, ENCODING 'UTF8')
\echo client_contacts
\copy (WITH ac AS (SELECT db_id FROM clients WHERE COALESCE(status,'Active') IN ('Active','Portfolio Owner') AND NOT COALESCE(archived,false)), aj AS (SELECT j.job_id FROM jobs j JOIN ac ON ac.db_id = j.client_db_id) SELECT t.contact_id, t.client_db_id, t.full_name, t.job_title, t.email, t.phone, t.is_primary FROM client_contacts t WHERE t.client_db_id IN (SELECT db_id FROM ac) ORDER BY t.contact_id) TO 'C:/v7-extract/client_contacts.csv' WITH (FORMAT csv, HEADER true, ENCODING 'UTF8')
\echo job_types
\copy (WITH ac AS (SELECT db_id FROM clients WHERE COALESCE(status,'Active') IN ('Active','Portfolio Owner') AND NOT COALESCE(archived,false)), aj AS (SELECT j.job_id FROM jobs j JOIN ac ON ac.db_id = j.client_db_id) SELECT t.job_type_id, t.name, t.job_family, t.job_group, t.is_crp FROM job_types t ORDER BY t.job_type_id) TO 'C:/v7-extract/job_types.csv' WITH (FORMAT csv, HEADER true, ENCODING 'UTF8')
\echo jobs
\copy (WITH ac AS (SELECT db_id FROM clients WHERE COALESCE(status,'Active') IN ('Active','Portfolio Owner') AND NOT COALESCE(archived,false)), aj AS (SELECT j.job_id FROM jobs j JOIN ac ON ac.db_id = j.client_db_id) SELECT t.job_id, t.client_db_id, t.job_number, t.status, t.job_type_id, t.job_type, t.title, t.legacy_job_no, t.reporting_year, t.reporting_period_start, t.reporting_period_end, t.start_date, t.due_date, t.crm_name, t.archived, t.created_at FROM jobs t WHERE t.client_db_id IN (SELECT db_id FROM ac) ORDER BY t.job_id) TO 'C:/v7-extract/jobs.csv' WITH (FORMAT csv, HEADER true, ENCODING 'UTF8')
\echo crp_job_details
\copy (WITH ac AS (SELECT db_id FROM clients WHERE COALESCE(status,'Active') IN ('Active','Portfolio Owner') AND NOT COALESCE(archived,false)), aj AS (SELECT j.job_id FROM jobs j JOIN ac ON ac.db_id = j.client_db_id) SELECT t.job_id, t.reporting_period_from, t.reporting_period_to FROM crp_job_details t WHERE t.job_id IN (SELECT job_id FROM aj) ORDER BY t.job_id) TO 'C:/v7-extract/crp_job_details.csv' WITH (FORMAT csv, HEADER true, ENCODING 'UTF8')
\echo datasets
\copy (WITH ac AS (SELECT db_id FROM clients WHERE COALESCE(status,'Active') IN ('Active','Portfolio Owner') AND NOT COALESCE(archived,false)), aj AS (SELECT j.job_id FROM jobs j JOIN ac ON ac.db_id = j.client_db_id) SELECT t.dataset_id, t.year, t.version FROM datasets t WHERE t.dataset_id IN (SELECT dataset_id FROM job_scope_rows WHERE job_id IN (SELECT job_id FROM aj) UNION SELECT dataset_id FROM job_emission_sources WHERE job_id IN (SELECT job_id FROM aj) UNION SELECT dataset_id FROM job_emission_groups WHERE job_id IN (SELECT job_id FROM aj)) ORDER BY t.dataset_id) TO 'C:/v7-extract/datasets.csv' WITH (FORMAT csv, HEADER true, ENCODING 'UTF8')
\echo job_scope_rows
\copy (WITH ac AS (SELECT db_id FROM clients WHERE COALESCE(status,'Active') IN ('Active','Portfolio Owner') AND NOT COALESCE(archived,false)), aj AS (SELECT j.job_id FROM jobs j JOIN ac ON ac.db_id = j.client_db_id) SELECT r.row_id, r.job_id, r.scope, r.original_id, r.qty, r.uom, r.factor, r.ghg_unit, r.enabled, r.site_id, r.dataset_id, r.factor_db_id, r.category, r.level_1, r.level_2, r.level_3, r.level_4, r.column_text, r.report_label, r.notes, r.apply_pct, r.month_1, r.month_2, r.month_3, r.month_4, r.month_5, r.month_6, r.month_7, r.month_8, r.month_9, r.month_10, r.month_11, r.month_12, r.calc_tco2e, r.override_tco2e, r.data_source, r.data_confidence, r.is_custom_entry, r.linked_row_id, r.is_auto_generated, r.auto_pair_kind, r.review_status, CASE WHEN ref1.factor IS NOT NULL THEN ref1.factor ELSE ref2.factor END AS reference_factor, CASE WHEN ref1.factor IS NOT NULL THEN NULLIF(trim(ref1.ghg_unit), '') ELSE COALESCE(NULLIF(trim(ref2.ghg_unit), ''), NULLIF(trim(ref1.ghg_unit), '')) END AS reference_ghg_unit FROM job_scope_rows r JOIN aj USING (job_id) LEFT JOIN LATERAL (SELECT fl.factor, fl.ghg_unit FROM factor_lookup fl WHERE r.dataset_id IS NOT NULL AND fl.dataset_id = r.dataset_id AND fl.original_id = substring(r.notes FROM '(?i)(?:^|[;( ])factor_original_id=([^;)\s]+)') AND (trim(r.scope) = '' OR fl.scope = trim(r.scope)) ORDER BY CASE WHEN fl.scope = trim(r.scope) THEN 0 ELSE 1 END, fl.db_id LIMIT 1) ref1 ON true LEFT JOIN LATERAL (SELECT fl.factor, fl.ghg_unit FROM factor_lookup fl LEFT JOIN datasets d ON d.dataset_id = fl.dataset_id WHERE trim(COALESCE(r.original_id, '')) <> '' AND fl.original_id = trim(r.original_id) ORDER BY COALESCE(d.year, 0) DESC, fl.db_id DESC LIMIT 1) ref2 ON true ORDER BY r.row_id) TO 'C:/v7-extract/job_scope_rows.csv' WITH (FORMAT csv, HEADER true, ENCODING 'UTF8')
\echo job_emission_groups
\copy (WITH ac AS (SELECT db_id FROM clients WHERE COALESCE(status,'Active') IN ('Active','Portfolio Owner') AND NOT COALESCE(archived,false)), aj AS (SELECT j.job_id FROM jobs j JOIN ac ON ac.db_id = j.client_db_id) SELECT t.group_id, t.job_id, t.dataset_id, t.factor_db_id, t.original_id, t.factor, t.ghg_unit, t.uom, t.enabled FROM job_emission_groups t WHERE t.job_id IN (SELECT job_id FROM aj) ORDER BY t.group_id) TO 'C:/v7-extract/job_emission_groups.csv' WITH (FORMAT csv, HEADER true, ENCODING 'UTF8')
\echo job_emission_sources
\copy (WITH ac AS (SELECT db_id FROM clients WHERE COALESCE(status,'Active') IN ('Active','Portfolio Owner') AND NOT COALESCE(archived,false)), aj AS (SELECT j.job_id FROM jobs j JOIN ac ON ac.db_id = j.client_db_id) SELECT t.source_id, t.job_id, t.scope, t.source_type, t.enabled, t.group_id, t.source_subtype, t.site_id, t.category, t.dataset_id, t.factor_db_id, t.original_id, t.qty, t.uom, t.factor, t.ghg_unit, t.apply_pct, t.calc_tco2e, t.data_source, t.data_confidence, t.review_status FROM job_emission_sources t WHERE t.job_id IN (SELECT job_id FROM aj) ORDER BY t.source_id) TO 'C:/v7-extract/job_emission_sources.csv' WITH (FORMAT csv, HEADER true, ENCODING 'UTF8')
\echo job_spend_entries
\copy (WITH ac AS (SELECT db_id FROM clients WHERE COALESCE(status,'Active') IN ('Active','Portfolio Owner') AND NOT COALESCE(archived,false)), aj AS (SELECT j.job_id FROM jobs j JOIN ac ON ac.db_id = j.client_db_id) SELECT t.entry_id, t.job_id, t.amount_gross, t.is_deleted, t.site_id, t.factor_db_id, t.factor_original_id, t.mapped_scope, t.conversion_currency, t.currency, t.submitted_by_portal, t.review_status, t.estimated_emissions_tco2e FROM job_spend_entries t WHERE t.job_id IN (SELECT job_id FROM aj) ORDER BY t.entry_id) TO 'C:/v7-extract/job_spend_entries.csv' WITH (FORMAT csv, HEADER true, ENCODING 'UTF8')
\echo lca_assessments
\copy (WITH ac AS (SELECT db_id FROM clients WHERE COALESCE(status,'Active') IN ('Active','Portfolio Owner') AND NOT COALESCE(archived,false)), aj AS (SELECT j.job_id FROM jobs j JOIN ac ON ac.db_id = j.client_db_id) SELECT t.assessment_id, t.job_id, t.review_status, t.resolved_lines_snapshot, t.total_tco2e FROM lca_assessments t WHERE t.job_id IN (SELECT job_id FROM aj) ORDER BY t.assessment_id) TO 'C:/v7-extract/lca_assessments.csv' WITH (FORMAT csv, HEADER true, ENCODING 'UTF8')
\echo job_report_versions
\copy (WITH ac AS (SELECT db_id FROM clients WHERE COALESCE(status,'Active') IN ('Active','Portfolio Owner') AND NOT COALESCE(archived,false)), aj AS (SELECT j.job_id FROM jobs j JOIN ac ON ac.db_id = j.client_db_id) SELECT t.report_version_id, t.job_id, t.version_number, t.status, t.snapshot_json, t.data_hash, t.report_format, t.version_label, t.notes, t.file_name, t.file_path, t.storage_provider, t.external_item_id, t.external_web_url, t.external_path, t.generated_at, t.generated_by, t.reviewed_at, t.reviewed_by, t.finalized_at, t.finalized_by, t.superseded_at, t.superseded_by FROM job_report_versions t WHERE t.job_id IN (SELECT job_id FROM aj) ORDER BY t.report_version_id) TO 'C:/v7-extract/job_report_versions.csv' WITH (FORMAT csv, HEADER true, ENCODING 'UTF8')
\echo report_reviews
\copy (WITH ac AS (SELECT db_id FROM clients WHERE COALESCE(status,'Active') IN ('Active','Portfolio Owner') AND NOT COALESCE(archived,false)), aj AS (SELECT j.job_id FROM jobs j JOIN ac ON ac.db_id = j.client_db_id) SELECT t.job_id, t.portal_version_id, t.status, t.approved_by_name, t.approved_by_email, t.published_at, t.published_by FROM report_reviews t WHERE t.job_id IN (SELECT job_id FROM aj) ORDER BY t.job_id) TO 'C:/v7-extract/report_reviews.csv' WITH (FORMAT csv, HEADER true, ENCODING 'UTF8')

COMMIT;
